body{background-color: antiquewhite;}

#contenedorprincipal{
    width: 80%;
    margin: 30px auto;
}
header h1{
    margin-top: 0;
    text-align: center;
    font-family: 'forte', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav {
    background-color: #5f9ea0; 
    padding: 10px;
}
nav ul li {display: inline;}
nav ul li a{
    text-decoration: none; 
    color: white; 
    padding-left: 10px;
}
main{display: flex;}
aside{
    width: 25%; 
    background-color: antiquewhite; 
    padding: 20px; border: 1px solid orange;}
section{
    width: 75%; 
    padding: 5px; 
    flex-flow: wrap column; 
    background-color: white; 
    border: 1px solid orchid;
    background-position: center;
}
section figure {
    width: 77%; 
    margin-top: 10px; 
    margin-bottom: 10px;
    background-position: center;
}
section figure img {
    width: 100%;
    height: 50vh;   
    margin: 10px auto 10px auto;
    background-size: cover;
}

section figure img:hover{
    border-radius: 20px;
    background-color: red;
    opacity: 0.75;
    background-image: url('img/imagen2.jpg');
}

footer {
    background-color: burlywood;
    text-align: center;
    padding: 10px;
}

#banner {
    width: 100%;
    height: 25vh;
    background-image: url('img/banner1.jpg');
    background-size: cover;
    background-position: center;
}
