body{background-color: antiquewhite;}

#contenedorprincipal{
    width: 80%;
    margin: 30px auto;
}
header h1{
    text-align: center;
}
nav {
    background-color: #5f9ea0; 
    padding: 10px;
}
nav ul li {display: inline;}
nav ul li a{
    text-decoration: none; 
    color: white; 
    padding-left: 10px;
}
main{display: flex;}
aside{
    width: 25%; 
    background-color: antiquewhite; 
    padding: 20px; border: 1px solid orange;}
section{
    width: 75%; 
    padding: 5px; 
    flex-flow: wrap column; 
    background-color: white; 
    border: 1px solid orchid;
}
section figure {
    width: 77%; margin-top: 10px; margin-bottom: 10px;
}
section figure img {
    width: 100%;    margin: 10px auto 10px auto;
}
footer {text-align: center;}
